* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fff6f6!important;
}

.col-sm {
    display: -ms-inline-grid;
    align-items: center;
}

.col {
    text-align: center; 
}

@media screen and (max-width: 560px) {
    
    .container {
        display: inline-block;
        padding-left: 6px;
    }

    .row-cols-5>* {
        flex: auto;
        width: 100%!important;
    }

}

